@{
    ViewData["Title"] = "ホーム";
}

<div class="text-center">
    <h1 class="display-4">DBのアプリケーション</h1>
    <p class="text-warning">学習はこちらのページを確認してください。 <a href="https://learn.microsoft.com/ja-jp/aspnet/core/data/ef-mvc/?view=aspnetcore-8.0">ASP.NET Core MVC と EF Core - チュートリアル シリーズ</a>.</p　>
</div>

